.incart {
    background-color: purple;
}

.purchased {
    background-color: teal;
}

.incart, .purchased{
    border: 1px solid black;
    text-align: center;
}

.name {
    text-decoration: bold;
}