.incart {
    background-color: rgb(38, 251, 251);
}

.purchased {
    background-color: rgb(197, 6, 197);
}

.incart, .purchased{
    border: 1px solid black;
    text-align: center;
}

.name {
    text-decoration: bold;
}